flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3bff1c1a.547b04","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["1b143c24.9c2364"]]},{"id":"1b143c24.9c2364","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"da83e328.25a67","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["7c6bf8db.ddab4"]]},{"id":"4d3ce7a0.985448","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":300,"wires":[]},{"id":"7c6bf8db.ddab4","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":300,"wires":[["4d3ce7a0.985448"]]}]