flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d115e3.e882822","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"${MQTT_HOST}","port":"${MQTT_PORT}","tls":"1418d633.52d93a","clientid":"${MQTT_CLIENT_ID}","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1418d633.52d93a","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"${MQTT_CA_CERT}","certname":"","keyname":"","caname":"","servername":"${MQTT_HOST}","verifyservercert":true},{"id":"3bff1c1a.547b04","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"${WWW}","payloadType":"str","x":150,"y":160,"wires":[["1b143c24.9c2364"]]},{"id":"1b143c24.9c2364","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"da83e328.25a67","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["7c6bf8db.ddab4"]]},{"id":"4d3ce7a0.985448","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":300,"wires":[]},{"id":"7c6bf8db.ddab4","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":300,"wires":[["4d3ce7a0.985448"]]},{"id":"275bfbb.eb4ad04","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"3d115e3.e882822","x":110,"y":500,"wires":[["73cee11.535372"]]},{"id":"73cee11.535372","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":500,"wires":[]},{"id":"751de116.baca","type":"inject","z":"3af82246.3634ae","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":380,"wires":[["5498ecf8.8d612c"]]},{"id":"5498ecf8.8d612c","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":400,"wires":[["3a61064b.257e1a"]]},{"id":"3a61064b.257e1a","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"3d115e3.e882822","x":430,"y":420,"wires":[]}]